

body {
    background: -webkit-linear-gradient(#f0fcbc,rgb(245, 232, 54));
}

.container{
    width: 100%;   
    padding-top: 100px;
    border-top: 70px  solid yellow;
    height: 500px;
}

.container123{
    display: flex;
    margin-top: -155px;
}
    
.container123 .container1, .container2, .container3{
    border: rgb(49, 33, 33) 2px solid;
    width: 50%;
    margin: 7px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-sizing: border-box;

}

.container figure img{
    width: 100%; 
    margin: 20px;
}
 div text{
    margin: 10px 10px 10px 10px;
    justify-content: center;

}
    
 figure img{
    width: 100%;
    height: 400px
}

.container123  button {
    width: 100%;
    padding: 25px 50px;
    cursor: pointer;
    color: black;

}
.container1 button{
    width: 100%;
    padding: 25px 25px;
}

